footer.footer.footer-dark
  .container
    .columns
      .column
        .footer-logo
          img(src="assets/images/logos/fresh-white-alt.svg", alt="", srcset="")
      .column
        .footer-column
          .footer-header
            h3 Product
          ul.link-list
            li
              a(href="index.html#") Discover features
            li
              a(href="index.html#") Why choose our Product ?
            li
              a(href="index.html#") Compare features
            li
              a(href="index.html#") Our Roadmap
            li
              a(href="index.html#") Request features
      .column
        .footer-column
          .footer-header
            h3 Docs
          ul.link-list
            li
              a(href="index.html#") Get Started
            li
              a(href="index.html#") User guides
            li
              a(href="index.html#") Admin guide
            li
              a(href="index.html#") Developers
      .column
        .footer-column
          .footer-header
            h3 blogroll
          ul.link-list
            li
              a(href="index.html#") Latest News
            li
              a(href="index.html#") Tech articles
            li
              a(href="index.html#") Video Blog

      .column
        .footer-column
          .footer-header
            h3 Follow Us
            nav.level.is-mobile
              .level-left
                a.level-item
                  span.icon
                    i.fa.fa-github
                a.level-item
                  span.icon
                    i.fa.fa-dribbble
                a.level-item
                  span.icon
                    i.fa.fa-facebook
                a.level-item
                  span.icon
                    i.fa.fa-twitter
                a.level-item
                  span.icon
                    i.fa.fa-bitbucket
            a(href="http://bulma.io" target="_blank")
              img(src="assets/images/logos/made-with-bulma.png", alt="Made with Bulma" width="128" height="24")
