
section.hero.is-fullheigth.is-default.is-bold
  nav.navbar.is-fresh.is-transparent.no-shadow(role="navigation" aria-label="main navigation")
    include nav/nav_container.pug
  nav#navbar-clone.navbar.is-fresh.is-transparent(role="navigation" aria-label="main navigation")
    include nav/nav_container.pug

  include hero/hero-body.pug
  include hero/hero-foot.pug
