section.section.section-feature-grey.is-medium
  .container
    .columns
      .column.is-10.is-offset-1
        .has-text-centered
          img(src="assets/images/illustrations/mockups/app-mockup.png", alt="", srcset="")

    .title-wrapper.has-text-centered
      h2.title.is-2 One Platform
      h3.subtitle.is-5.is-muted To rule them All

    p.has-text-centered.mt-20
      a.button.cta.is-large.rounded.secondary-btn-raised Get Started
