
section.section.section-feature-grey.is-medium
  .container
    .title-wrapper.has-text-centered
      h2.title.is-2 Great Power Comes
      h3.subtitle.is-5.is-muted With great Responsibility
      .divider.is-centered

    .content-wrapper
      .columns
        .column
          .is-one-third
            .feature-card.is-bordered.has-text-centered.revealOnScroll.delay-1(data-animation="fadeInLeft")
              .card-title
                h4 App builder
              .card-icon
                img(src="assets/images/illustrations/icons/mouse-globe.svg", alt="", srcset="")
              .card-text
                p This is some explanatory text that is on two rows
              .card-action
                a.button.btn-align-md.accent-btn-raised(href="index.html#") Free Trial
        .column
          .feature-card.is-bordered.has-text-centered.revealOnScroll.delay-2(data-animation="fadeInLeft")
            .card-title
              h4 Cloud integration
            .card-icon
              img(src="assets/images/illustrations/icons/laptop-cloud.svg", alt="", srcset="")
            .card-text
              p This is some explanatory text that is on two rows
            .card-action
              a.button.btn-align-md.accent-btn-raised(href="index.html#") Get Started
        .column
          .feature-card.is-bordered.has-text-centered.revealOnScroll.delay-3(data-animation="fadeInLeft")
            .card-title
              h4 Addons & Plugins
            .card-icon
              img(src="assets/images/illustrations/icons/laptop-cloud.svg", alt="", srcset="")
            .card-text
              p This is some explanatory text that is on two rows
            .card-action
              a.button.btn-align-md.accent-btn-raised(href="index.html#") Get Started
