section.section.is-medium
  .container
    .columns
      .column.is-centered-tablet-portrait
        h1.title.section-title You're here because you want the best
        h3.subtitle.is-4.is-muted And we Know it
        .divider

      .column.is-8.mt-60
        .
          <!-- icon block -->
          <article class="media icon-box">
            <figure class="media-left">
              <p class="image">
                <img src="assets/images/illustrations/icons/laptop-globe.svg">
              </p>
            </figure>
            <div class="media-content mt-50">
              <div class="content">
                <p>
                  <span class="icon-box-title">Powerful and unified interface</span>
                  <span class="icon-box-text">安輕樂臺，分手還一化本！界在難聯造動市けリ覧郷ユヤワサ準助7子群メソマ直林無ノ adipiscing elit. Proin ornare
                    magna eros, eu pellentesque tortor.</span>
                </p>
              </div>
            </div>
          </article>
          <!-- /icon block -->

          <!-- icon block -->
          <article class="media icon-box">
            <figure class="media-left">
              <p class="image">
                <img src="assets/images/illustrations/icons/doc-sync.svg">
              </p>
            </figure>
            <div class="media-content mt-50">
              <div class="content">
                <p>
                  <span class="icon-box-title">Cross device Synchronisation</span>
                  <span class="icon-box-text">安輕樂臺，分手還一化本！界在難聯造動市けリ覧郷ユヤワサ準助7子群メソマ直林無ノ adipiscing elit. Proin ornare
                    magna eros, eu pellentesque tortor.</span>
                </p>
              </div>
            </div>
          </article>
          <!-- /icon block -->

          <!-- icon block -->
          <article class="media icon-box">
            <figure class="media-left">
              <p class="image">
                <img src="assets/images/illustrations/icons/mobile-feed.svg">
              </p>
            </figure>
            <div class="media-content mt-50">
              <div class="content">
                <p>
                  <span class="icon-box-title">Nomad System</span>
                  <span class="icon-box-text">安輕樂臺，分手還一化本！界在難聯造動市けリ覧郷ユヤワサ準助7子群メソマ直林無ノ adipiscing elit. Proin ornare
                    magna eros, eu pellentesque tortor.</span>
                </p>
              </div>
            </div>
          </article>
          <!-- /icon block -->
