section.section.is-medium.section-secondary
  .container
    .title-wrapper.has-text-centered
      h2.title.is-2.light-text.is-spaced Our Clients love us !
      h3.subtitle.is-5.light-text Lorem ipsum sit dolor amet is a dummy text used by typography industry

    .content-wrapper
      .columns.is-vcentered
        .column.is-4
          figure.testimonial
            blockquote Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
            .author
              img(src="assets/images/illustrations/faces/1.png", alt="", srcset="")
              h5 Irma Walters
              span Accountant
        .column.is-4
          figure.testimonial
            blockquote Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
            .author
              img(src="assets/images/illustrations/faces/2.png", alt="", srcset="")
              h5 John Bradley
              span Financial Analyst

        .column.is-4
          figure.testimonial
            blockquote Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
            .author
              img(src="assets/images/illustrations/faces/3.png", alt="", srcset="")
              h5 Gary Blackman
              span HR Manager
