.sidebar
  .sidebar-header
    img(src="assets/images/logos/fresh-square.svg", alt="", srcset="")

    a.sidebar-close(href="javascript:void(0);")
      <i data-feather="x"></i>
  .inner
    .sidebar-menu
      li
        span.nav-section-title
      li.have-children
        a(href="index.html#")
          <span class="fa fa-user"></span>User

        ul
          li
            a(href="index.html#") Profile
          li
            a(href="index.html#") Account
          li
            a(href="index.html#") Settings

      li.have-children
        a(href="index.html#")
          <span class="fa fa-envelope"></span>Messages

        ul
          li
            a(href="index.html#") Inbox
          li
            a(href="index.html#") Compose

      li.have-children
        a(href="index.html#")
          <span class="fa fa-image"></span>Images

        ul
          li
            a(href="index.html#") Library
          li
            a(href="index.html#") Upload

      li.have-children
        a(href="index.html#")
          <span class="fa fa-cog"></span>Settings

        ul
          li
            a(href="index.html#") User settings
          li
            a(href="index.html#") App settings
