.hero-body
  container.columns.is-vcentered
    .column.is-5.is-offset-1.landing-capti9on
      h1.title.is-1.is-bold.is-spaced Manage, Deploy.
      h2.subtitle.is-5.is-muted Lorem ipsum sit dolor amet is a dummy text used by typography industry

      p
        a.button.cta.rounded.primary-btn.raised(href="#") Get Started

    .column.is-5.is-offset-1
      figure.image.is-4by3
        img(src="assets/images/illustrations/worker.svg", alt="Description", srcset="")
