.hero-foot.mb-20
  .container
    .tabs.is-centered
      ul
        li
          a(href="#")
            img.partner-logo(src="assets/images/logos/clients/systek.svg", alt="")
        li
          a(href="#")
            img.partner-logo(src="assets/images/logos/clients/tribe.svg", alt="")
        li
          a(href="#")
            img.partner-logo(src="assets/images/logos/clients/kromo.svg", alt="")
        li
          a(href="#")
            img.partner-logo(src="assets/images/logos/clients/infinite.svg", alt="")
        li
          a(href="#")
            img.partner-logo(src="assets/images/logos/clients/gutwork.svg", alt="")
